{% extends 'base-front.html' %}
{% load static %}

{%block content%}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">操作指南</h1>
        <!-- <p class="lead blog-description">凤凰鸣矣，于彼高岗；梧桐生矣，于彼朝阳。追求卓越，其道大昌；修史建馆，永志勿忘。</p> -->
    </div>
    <div class="row">

        <div class="col-sm-9 blog-main">

            <div class="blog-post">

                <!-- <h1 class="blog-post-title">厚德博学-追求卓越</h1>
                <p class="blog-post-meta">April 1, 2021 </p>

                <em>tips：武汉工业大学源于1948年的中国人民解放军东北军区军工部工业专门学校，历经传承与发展，1985年更名为武汉工业大学，1998年由原国家建筑材料工业局所属划转为教育部主管。1996年9月6日，国家建筑材料工业局与湖北省人民政府签署共同建设武汉工业大学协议书。11月，学校通过“211工程”“211工程”部门预审。
                </em>
                <hr> -->
                <p>点击模型中央按钮，开始探索3D空间
                </p>
                <div class="card w-100 shadow-sm mb-5">
                    <img src="https://pic.imgdb.cn/item/60a521c46ae4f77d35ae247c.png" class="d-block w-100"
                        height="auto" alt="...">
                </div>
                <p>首先您将以俯瞰视角查看模型全貌
                </p>
                <div class="card w-100 shadow-sm mb-5">
                    <img src="https://pic.imgdb.cn/item/60a521c46ae4f77d35ae2499.jpg" class="d-block w-100"
                        height="auto" alt="...">
                </div>
                <p>接下来您会进入模型内部，地面上每个小圆圈都可以作为您的观察位置。
                </p>
                <div class="card w-100 shadow-sm mb-5">
                    <img src="https://pic.imgdb.cn/item/60a521c46ae4f77d35ae2462.png" class="d-block w-100"
                        height="auto" alt="...">
                </div>
                <ul>
                    <li>若您使用的是手机或平板，则可用手指触碰屏幕任意位置，若您使用的是电脑，则可用鼠标点击屏幕任意位置，通过以上操作，您将移动到距离您选择的点最近的观察位置。
                    </li>
                    <li>同时，您可以通过手指放缩或者鼠标滚轮滚动完成模型的放大与缩小，以实现近距离或者远距离查看模型。
                    </li>
                </ul>
            </div>

            <form class="navbar-form navbar-right mb-5 d-flex flex-column">
                <a class="btn btn-outline-secondary disabled btn-lg mb-3" href="{%url 'article0'%}" style="border-radius: 2rem;
">上一篇：暂无</a>
                <a class="btn btn-outline-primary btn-lg mb-3" href="{%url 'article1'%}" style="border-radius: 2rem;
">下一篇：第一展区-发展历程</a>
            </form>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <!-- <div class="sidebar-module sidebar-module-inset">
                <h4>前言</h4>
                <p>武汉工业大学发展历程主要有：两支三脉。两支：南支北支；三脉：武汉、沈阳、北京。南支武汉一脉，其渊源最早可追溯到1898年湖北工艺学堂，到1950年发展为武昌高级工业学校。1952年武昌高级工业学校等中南“四大高工”的土木科及武汉土木工程学校、长沙市政建设工程学校，合并组建中南建筑工程学校，到1965年改为武汉建筑工程学校。北支沈阳一脉：1948年东北军区军工部工业专门学校诞生，到1958年合并组成沈阳建筑材料工业学院。北支北京一脉：1958年北京建筑工业学院合并组建。1959年北支二脉，北京建筑工业学院与沈阳建筑材料工业学院组成新的北京建筑工业学院。1971年，南支北支合并，北京建筑工业学院与武汉建筑工程学校合并为湖北建筑工业学院，1985年升为武汉工业大学。
                </p>
            </div>
            <div class="sidebar-module">
                <h4>目录</h4>
                <ol class="list-unstyled">
                    <li><a href="#1">追根溯源-从湖北工艺学堂到中南建筑工程学校的组建</a></li>
                    <li><a href="#2">奋发踔厉-中南建筑工程学校的发展</a></li>
                    <li><a href="#3">曲折前行-武汉城市建设学院的调整</a></li>
                    <li><a href="#4">鸿篇新启-沈阳建筑材料工业学院的渊源和组建</a></li>
                    <li><a href="#5">融聚京沈-北京建筑工业学院的组建和“京、沈一盘棋”调整</a></li>
                    <li><a href="#6">承前启后的湖北建筑工业学院</a></li>
                    <li><a href="#7">朝气蓬勃的武汉建筑材料工业学院</a></li>
                    <li><a href="#8">快速发展的武汉工业大学</a></li>
                    <li><a href="#9">为新世纪奠基的武汉工业大学</a></li>
                </ol>
            </div> -->
            <hr>

            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第一展区-发展历程</h3>
                        <p class="card-text mb-auto">
                            学校以建设全国第一流交通运输重点大学为奋斗目标，到2000年5月，发展成为以水运工程和航运技术为主要特色，水陆并举、河海兼顾...
                        </p>
                        <a href="{%url 'article1'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpslgx.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第二展区-建设成就</h3>
                        <p class="card-text mb-auto">
                            学校坚持以道德精神和学术创新引领大学教育和大学发展，厚德载物，博学笃行，引领大学止于至善之道；不断追求卓越，把学校建设和发展不断推向新的历史高度...
                        </p>
                        <a href="{%url 'article2'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpsw8I.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第三展区-师生成果</h3>
                        <p class="card-text mb-auto">
                            学校已形成以工学为主，理、工、经、管、艺术、文、法等多学科相互渗透、协调发展的学科专业体系...
                        </p>
                        <a href="{%url 'article3'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpsZbF.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>

</div>
{%endblock%}




{%block custom_css%}

<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{%endblock%}
