{% extends 'base-front.html' %}
{% load static %}

{%block content%}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">第一展区-发展历程</h1>
        <p class="lead blog-description">凤凰鸣矣，于彼高岗；梧桐生矣，于彼朝阳。追求卓越，其道大昌；修史建馆，永志勿忘。</p>
    </div>

    <div class="card w-100 shadow-sm mb-5" style="height: 750px;">
        <iframe src="https://my.matterportvr.cn/show/?m=Hs7UcBoqnnD" height="100%" width="100%" scrolling="no"
            marginheight="0" marginwidth="0" frameborder="0">
        </iframe>
    </div>

    <div class="row">

        <div class="col-sm-9 blog-main">

            <div class="blog-post">

                <!-- <h1 class="blog-post-title">厚德博学-追求卓越</h1>
                <p class="blog-post-meta">April 1, 2021 </p>

                <em>tips：武汉工业大学起源于1946年建立的国立海事职业学校，1957年改名为武汉水运工程学院，1992年与武汉河运专科学校合并，1993年更名为武汉交通科技大学。到2000年，共走过了54年的发展历史。
                </em>
                <hr> -->

                <h2 id="1">一、南北两支 岁月峥嵘</h2>
                <h3>追根溯源-从湖北工艺学堂到中南建筑工程学校的组建</h3>
                <p>武汉工业大学南方支脉的渊源最早可追溯到1898年湖北工艺学堂。1898年湖广总督张之洞创办了湖北工艺学堂，到1950年发展为湖北省武昌高级工业学校。湖南高级工业学校、湘乡高级工业职业学校、河南省郑州高级工业学校，同样历经了近半个世纪发展变迁。1952年，中南建筑工程学校在江西庐山合并组建，它汇聚了“四大高工”的土木科，整体接收了武汉土木工程学校、长沙市政建设工程学校。1953年，珠江水利学校土木科并入。
                </p>
                <h3>奋发踔厉-中南建筑工程学校的发展</h3>
                <p>1952年12月，中南建筑工程学校在庐山举行开学典礼。中南建筑工程学校，其校址选定在武昌马房山，当时马房山只有农田和荒山，校舍有待新建。由于国家急需培养建设人才，学校先借用江西庐山房舍开学上课，同时在武昌马房山建设新校舍。1953年5月学校开始分批搬迁。
                </p>
                <p>1954年，学校改为建筑工程部武昌建筑工程学校。1958年学校先后升格为武昌建筑工程专科学校，武汉建筑工业学院，跻身本科院校行列。
                </p>
                <h3>曲折前行-武汉城市建设学院的调整</h3>
                <p>1960年学校更名为武汉城市建设学院，并被列为4所部属重点院校之一。1964年武汉城市建设学院送走最后一届本科毕业生，1965年1月正式启用武汉建筑工程学校校名，学校再次走上中等专业技术学校之路。
                </p>
                <h3>鸿篇新启-沈阳建筑材料工业学院的渊源和组建</h3>
                <p>1948年，在解放战争的隆隆炮声中诞生了中国人民解放军东北军区军工部工业专门学校，这是我军历史上较早的军事工业高等学校。东北军区军工部工业专门学校是武汉工业大学北方支脉的源头。1950年10月，抗美援朝战争爆发，为培养大批兵工专门技术人才以适应国防建设的需要，1951年学校扩充为东北兵工专门学校，1956年发展为沈阳建筑机械学校。1958年，沈阳建筑机械学校与1951年建立的沈阳建筑材料工业学校和1955年建立的沈阳计划经济学校合并组成沈阳建筑材料工业学院。
                </p>
                <p>从军事工业专门学校到培养建筑技术人才的建材工业学院，伴随着新中国的建立和发展，武汉工业大学北支之一脉与共和国同步共进，走过了曲折而光辉的岁月。
                </p>
                <h3>融聚京沈-北京建筑工业学院的组建和“京、沈一盘棋”调整</h3>
                <p>新中国建立后，一大批军队干部转向经济建设。1955年建筑工程部华北干部学校、1956年建筑工程部高级干部学校应运而生，办学宗旨是为我国建筑建材行业培养管理干部。1958年合并组建为北京建筑工业学院。这是北支之另一脉。
                </p>
                <p>1959年，建筑工程部决定实施“京、沈两院一盘棋”，将沈阳建筑材料工业学院本科部分和北京建筑工业学院合并组成新的北京建筑工业学院。调整后的学校规划于北京东郊管庄建设以建筑材料工业为特色的万人规模大学，学校进入一个新的发展时期。
                </p>

                <h2 id="2">二、京汉合一 继往开来</h2>
                <h3>承前启后的湖北建筑工业学院</h3>
                <p>1971年，北京建筑工业学院再度北移武昌马房山，与武汉建筑工程学校合并，改名为湖北建筑工业学院，至此京汉合一，南北两支牵手相聚，开始共同建设新的建筑工业大学的历程。
                </p>
                <h3>朝气蓬勃的武汉建筑材料工业学院</h3>
                <p>1978年，湖北建筑工业学院被列为全国重点大学，更名为武汉建筑材料工业学院，并改由国家建材部领导，学校发展历史掀开新的一页。
                </p>

                <h2 id="3">三、登高望远 走向昌盛</h2>
                <h3>快速发展的武汉工业大学</h3>
                <p>1985年，学校更名为武汉工业大学，它标志着学校进入一个新的发展阶段，走上快速发展的轨道。
                </p>
                <p>1988年10月，学校举行庆祝三十周年（以1958年北京建筑工业学院成立为起点）系列活动，把武汉工业大学的改革和建设推向一个新阶段。
                </p>
                <p>八十年代中后期，学校逐步完成了由单一工科学院向多科性工业大学转变，由教学中心向教学、科研两个中心转变，由封闭型办学向开放型办学转变的三大转变。
                </p>
                <h3>为新世纪奠基的武汉工业大学</h3>
                <p>1996年武汉工业大学进入国家“211工程”建设行列。1998年7月，学校划转教育部，成为教育部直属的、国家“211工程”重点建设的全国重点大学。同年10月举行建设发展50周年庆典（以1948年东北军区军工部工业专门学校为源头）。学校的改革创新和发展成果，为新世纪的三校合并、武汉理工大学的跨越发展奠定了坚实的基础。
                </p>

                <h2 id="4">四、武工初创 应运而生</h2>
                <p>1958年，为了适应国家工农业生产发展的需要和满足武汉地方工业建设对人才的迫切需求，中共武汉市委创办了武汉工学院。</p>
                <p>1961年，湖北化工学院、武汉工学院和湖北工学院（本科部分）三校合并，办学规模扩大。</p>
                <p>1963年，面临调整的武汉工学院由第八机械工业部接管，学校由为武汉市地方服务转向为全国农业机械化服务，为发展农机工业培养人才。
                </p>

                <h2 id="5">五、逆水行舟 曲折前进</h2>
                <p>从武汉工学院到湖北农业机械学院。这10年，学校与国家同呼吸共命运，走过了曲折的发展道路。</p>
                <p>1971年湖北省农业机械工业专科学校与武汉工学院合并成立湖北农业机械学院。</p>
                <p>1966年5月，学生男篮获武汉市大专院校男子篮球联赛亚军。
                </p>
                <p>1969年12月，工宣队率学校大多数职工和学生到宜昌窑湾劳动和学习。
                </p>
                <p>1970年9月，学校恢复招生。</p>
                <p>学校加强教职工队伍建设，通过接收部队转业军人以及留校和分配来的毕业生，还有从东北、北京等重点院校及科研单位调进一批骨干教师，提高了队伍素质，充实了教师队伍。
                </p>

                <h2 id="6">六、励精图治 再展宏图</h2>
                <h3>改革开放初期的的武汉工学院</h3>
                <p>1977年学校恢复招收四年制本科生。1979年学校划归农业机械部领导，恢复武汉工学院校名。1982年转为机械工业部领导。学校把工作重点转移到教学和科研上来，教学秩序逐步恢复，教学改革不断深入。
                </p>
                <p>党委书记鲍振世，抗日战争时期在河北担任县委城工部部长，被誉为冀中“李向阳”。 他是学校第一代建校创业领导人，为学校的创业和生存、建设和发展作出了重要贡献。
                </p>
                <h3>快速发展的武汉工学院</h3>
                <p>1983年学校改为中国汽车工业公司领导，把武汉工学院建设成为汽车工业培养人才的重要基地成为学校的奋斗目标。
                </p>
                <p>党委书记陈立国在担任党委书记期间，带领学校领导班子锐意改革，特别是把一批优秀骨干教师充实到学校教学、科研的领导岗位，开创了武汉工学院改革发展的新局面。
                </p>
                <h3>面向新世纪的武汉汽车工业大学</h3>
                <p>1995年3月经国家教委批准学校更名为武汉汽车工业大学，5月18日举行了揭牌庆典。这是我国第一个汽车工业大学。更名为武汉汽车工业大学，标志着学校办学水平上了一个新的层次。
                </p>
                <p>1996年5月中国汽车工业总公司与武汉市人民政府共建武汉汽车工业大学
                </p>
                <p>1997年5月学校“211工程”重点学科建设通过部门预审。确定了3个重点学科（机械学科、管理学科、汽车设计制造学科）和2个加强学科（材料加工及其自动化、控制理论与控制工程）协调发展的基本方向。
                </p>
                <p>1998年10月，学校举行四十周年校庆庆典。
                </p>
                <p>1999年湖北省第一机械工业学校和湖北省能源经济学校整体并入武汉汽车工业大学。
                </p>

                <h2 id="7">七、筚路蓝缕 水运奠基</h2>
                <h3>扬帆起航——国立海事职业学校</h3>
                <p>1945年，随着抗日战争的伟大胜利，国家百废待兴，航运事业亟待建设发展。国民政府教育部任命刘开坤负责筹办海事职业学校。1946年１月１日，国立海事职业学校举行开学典礼，校址设在武昌下新河。
                </p>
                <p>学校“以培植中等海事技术人才，促进海事建设为宗旨”，设轮机、驾驶、造船3科，学制均为3年。1945年12月—1948年8月，共招收3期438名学生
                </p>
                <h3>接管合并——武汉交通学院</h3>
                <p>1949年5月，武汉解放，国立海事职业学校由武汉市军管会交通接管部接管。同年中原临时人民政府开办交通学院，国立海事职业学校合并到交通学院，在海事职业学校旧址设立航业系。1951年学校更名为中央人民政府交通部武汉交通学院。
                </p>
                <h3>院系调整——武汉河运学院</h3>
                <p>1952年，全国进行高等学校院系调整，学校改为以培养内河交通运输高级技术人才为主的河运学院。
                </p>
                <h3>专题：建功万山海战</h3>
                <p>1950年3月，交通学院6名教职工和22名驾驶、轮机科学生（含毕业生）加入武汉海员参战大队，赴广东参加解放万山群岛战役，不少学生立功受奖。
                </p>

                <h2 id="8">八、风雨磨砺 矢志笃行</h2>
                <h3>在调整中前进的武汉水运工程学院</h3>
                <p>1957年学校改名为武汉水运工程学院，学校进入一个新的发展阶段。随着办学规模不断扩大，学校在武昌余家头兴建了新校园。1963年，交通部对部属高等院校进行专业调整后，学校主要培养船舶工程、船机设计制造与修理、港口起重运输机械设计制造与管理维修方面的高级技术及管理人才。文化大革命中，连续五年停止招生。1971年开始招收工农兵学员至1976年。
                </p>
                <p>这一时期，伴随着国家高等教育的曲折发展，学校历经磨砺，矢志前行。在不断的发展中，逐渐形成以船舶机械、船舶工程、港口机械为特色的专业体系，为改革开放后学校的快速发展打下了基础。
                </p>
                <h3>余家头新校园建设</h3>
                <p>1956年开始，学校在武昌余家头兴建新校园，1965年，学校本部从下新河迁至新校址。新校园仿原苏联列宁格勒水运工程学院设计，由苏联专家参与设计建设。1962年，7层教学大楼、大礼堂、学生1号宿舍竣工。
                </p>
                <p>2016年，1962年竣工的武汉水运工程学院教学大楼被列为武汉市第十批一级优秀历史建筑。
                </p>
                <h3>专业调整与设置</h3>
                <p>1963年和1965年交通部属高等院校专业调整，大连海运学院的造船、内燃机、船机修造专业，上海海运学院的船机、起重运输机械专业调入学院。集中了几大院校船机船舶和港机的师资力量及专业队伍，学校在水运工程领域不断发展，形成自身的优势和鲜明的专业特色。
                </p>
                <h3>师资培养与聘请苏联专家</h3>
                <p>学校制订师资培养计划，着力培养教师队伍。学校聘请了苏联列宁格勒水运工程学院副教授、科技副博士卡桑采夫和苏联气力运输机及连续运输机专家纳列姆斯基来讲学，两名苏联专家为学校培养了40多名研究生和10多名进修教师。
                </p>
                <p>除苏联专家外，1958年聘请波兰专家维乔列克来校讲授《船机制造与修理工艺》。
                </p>
                <p>1960年，学校从55级船舶机械、水运经济、港口机械毕业生中选留18名学生，开设研究生班。学生毕业后留校任教，充实了教师队伍。
                </p>
                <p>这一时期，学校文体活动也取得了较好的成绩。1965年1月，学校400余名师生在大礼堂演出大型音乐舞蹈史诗《东方红》，湖北省委第一书记王任重及武汉市、交通部领导观看了演出。
                </p>
                <h3>招收工农兵学员</h3>
                <p>1971年学校开始招收工农兵学员，到1976年，共招收6届1700余名工农兵学员。
                </p>
                <h2 id="9">九、与时俱进 谱写新章</h2>
                <h3>改革开放新时期的武汉水运工程学院</h3>
                <p>改革开放，正本清源。武汉水运工程学院进入改革开放新时期。学校恢复正常教学秩序 教育教学走上正轨。坚持教学科研两个中心，学校建设再上台阶。
                </p>
                <h3>面向新世纪的武汉交通科技大学</h3>
                <p>1992年7月，武汉水运工程学院和武汉河运专科学校合并，1993年更名为武汉交通科技大学。1996年10月，学校举行建校50周年庆典，同年12月，交通部与湖北省人民政府共建武汉交通科技大学。1997年9月，学校通过交通部组织的重点学科建设规划及部级重点学科评审，船舶与海洋结构物设计制造、轮机工程、机械设计及理论3个学科被确认为交通部部级重点学科。
                </p>
            </div>

            <form class="navbar-form navbar-right mb-5 d-flex flex-column">
                <a class="btn btn-outline-primary btn-lg mb-3" href="{%url 'article0'%}" style="border-radius: 2rem;
">上一篇：观看导引-操作指南</a>
                <a class="btn btn-outline-primary btn-lg mb-3" href="{%url 'article2'%}" style="border-radius: 2rem;
">下一篇：第二展区-建设成就</a>
            </form>

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset" style="padding: 0px; margin: 0">
                <h4>前言</h4>
                <p>学校以建设全国第一流交通运输重点大学为奋斗目标，到2000年5月，发展成为以水运工程和航运技术为主要特色，水陆并举、河海兼顾，工科为主，含理、工、文、经、法、哲多学科的交通部直属重点大学。
                </p>
            </div>
            <div class="sidebar-module">
                <h4>目录</h4>
                <ol class="list-unstyled">
                    <li><a href="#1">一、南北两支 岁月峥嵘</a></li>
                    <li><a href="#2">二、京汉合一 继往开来</a></li>
                    <li><a href="#3">三、登高望远 走向昌盛</a></li>
                    <li><a href="#4">四、武工初创 应运而生</a></li>
                    <li><a href="#5">五、逆水行舟 曲折前进</a></li>
                    <li><a href="#6">六、励精图治 再展宏图</a></li>
                    <li><a href="#7">七、筚路蓝缕 水运奠基</a></li>
                    <li><a href="#8">八、风雨磨砺 矢志笃行</a></li>
                    <li><a href="#9">九、与时俱进 谱写新章</a></li>
                </ol>
            </div>

            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第一展区-发展历程</h3>
                        <p class="card-text mb-auto">
                            学校以建设全国第一流交通运输重点大学为奋斗目标，到2000年5月，发展成为以水运工程和航运技术为主要特色，水陆并举、河海兼顾...
                        </p>
                        <a href="{%url 'article1'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpslgx.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第二展区-建设成就</h3>
                        <p class="card-text mb-auto">
                            学校坚持以道德精神和学术创新引领大学教育和大学发展，厚德载物，博学笃行，引领大学止于至善之道；不断追求卓越，把学校建设和发展不断推向新的历史高度...
                        </p>
                        <a href="{%url 'article2'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpsw8I.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第三展区-师生成果</h3>
                        <p class="card-text mb-auto">
                            学校已形成以工学为主，理、工、经、管、艺术、文、法等多学科相互渗透、协调发展的学科专业体系...
                        </p>
                        <a href="{%url 'article3'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpsZbF.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>

        </div>

    </div>

</div>



{%endblock%}

{%block custom_css%}
<link href="{% static 'css/BBS.css' %}" rel="stylesheet">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
{%endblock%}
