{% extends 'base-front.html' %}
{% load static %}

{%block content%}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">第二展区-建设成就</h1>
        <p class="lead blog-description">凤凰鸣矣，于彼高岗；梧桐生矣，于彼朝阳。追求卓越，其道大昌；修史建馆，永志勿忘。</p>
    </div>
    <div class="card w-100 shadow-sm mb-5" style="height: 750px;">
        <iframe src="https://my.matterportvr.cn/show/?m=HBbrxP6AGSK" height="100%" width="100%" scrolling="no"
            marginheight="0" marginwidth="0" frameborder="0">
        </iframe>
    </div>

    <div class="row">

        <div class="col-sm-9 blog-main">

            <div class="blog-post">

                <!-- <h1 class="blog-post-title">厚德博学-追求卓越</h1>
                <p class="blog-post-meta">April 1, 2021 </p>

                <em>tips：武汉汽车工业大学隶属于中国汽车工业总公司，是一所以工为主，工、经、管、文、理、法、教相结合，协调发展的多学科性大学。学校坐落在有“九省通衢”之称的历史名城武汉市南湖之滨。前身为武汉工学院，创建于一九五八年。一九七二年湖北农业机械专科学校并入该校，学校改名为湖北农业机械学院。一九七九年恢复武汉工学院校名。已成为中国汽车工业高层次人才培养、科学研究与技术开发的重要基地。
                </em>
                <hr> -->
                <h2 id="1">一、整合融合 快速发展</h2>
                <h3>推动学校快速融合</h3>
                <p>合并组建之初，学校在短时间里实现了 “领导、机构、政策、财务、规划”“五统一”，实施了机构、干部和院系、学科调整“两大战役”，推动了学校快速融合。</p>
                <h3>推进“211工程”建设</h3>
                <p>2001年，学校抓住机遇，实现了合并学校整体进入国家“211工程”建设行列。“211工程”由此成为学校建设发展的一面旗帜，带动了学校整体跨越发展。</p>
                <h4>1、开展教育思想大讨论</h4>
                <p>学校先后开展了三次教育思想大讨论，提高了全校师生对办什么样的大学、怎样办好大学以及学校培养什么样的人才、怎样培养人才的认识；提高了对学科建设和科研重要性的认识。学校确立的“育人为本、学术至上“的办学理念逐渐深入人心，并且在办学实践中发挥了引领作用。
                </p>
                <h4>2、明确“两个一流”发展目标</h4>
                <p>学校相继制定了三个规划，明确了到2020年把学校建设成“整体水平国内一流、部分学科水平国际一流”的战略目标及战略步骤。“两个一流”发展目标极具前瞻性，与目前全国高校开展的“双一流”建设契合度极高。
                </p>
                <h4>3、启动新校园建设</h4>
                <p>2003年3月，学校抓住历史机遇，就近扩建新校园、拓展学校可持续发展空间。新校园的建设，使学校面积扩大了一倍，达到4000余亩，为学校发展奠定了坚实的基础。
                </p>
                <p>对于新校园建设，全校师生员工和广大校友给予了热情关注和大力支持。从新校园奠基到迎接新生入住，仅仅用了短短的八个月时间，到新校园初具规模，也只有五年时间。理工人创造了“理工速度”，展示了“理工精神”。
                </p>
                <p>1958年10月27日，武汉工学院举行成立大会暨开学典礼。学校校址设在武昌马房山，当时这里还是荒凉之地。办学伊始，学校师生白手起家，艰苦创业。学校第一批基础课、技术基础课、专业课教师17人。这17人作为学校最早的师资，为学校的教育教学作出了贡献，被载入校史。
                </p>
                <h3>通过本科教学水平评估</h3>
                <p>2007年10月20至25日，教育部专家组对学校本科教学工作水平进行了为期6天的实地考察和评估。2008年5月，教育部给予了学校本科教学工作水平“优秀”的结论。
                </p>
                <h3>确定校训、校标</h3>
                <p>合并组建后，学校广泛征稿、多方征求意见，迅速确定了校标、校徽、校旗等学校标识。2007年8月，学校确定了“厚德博学、追求卓越”的校训。
                </p>
                <h3>科技创新支撑行业发展</h3>
                <p>学校充分发挥优势，服务三大行业。2001-2010年，学校获得了包括两项国家发明二等奖在内的十六项国家奖励，其中9项成果解决了行业关键技术难题；学校80%以上的科研项目和90%以上专利都服务于行业升级、企业技术改造及新产品研发。
                </p>
                <h3>大师级人才实现突破</h3>
                <p>2000年11月，余永富院士受聘为理工大教授、博士生导师；2007年12月，姜德生教授当选中国工程院院士。
                </p>
                <h3>推动国际交流与合作</h3>
                <p>在这一阶段，学校大力实施国际化战略，推动国际交流与合作，提升学校国际化水平，学校的国际化氛围日趋浓厚。
                </p>
                <h3>推动社会合作与共建</h3>
                <p>合并组建后，学校坚持“以服务求支持、以贡献促共建”的发展思路，推进了与部委、行业、地方等多方面的共建与共建，成立了三大行业董事会，构建了学校发展的良好外部大环境，促进了学校与社会的共同发展。
                </p>

                <h2 id="2">二、内涵提升 跨越发展</h2>
                <p>在第二个十年的内涵提升与跨越发展时期，学校各方面的能力和水平得到显著提升。</p>
                <ul>
                    <li>编制高水平发展规划：学校集思广益，编制了高水平的“十二五”和“十三五”发展规划。
                    </li>
                    <li>确立崇高大学理想和核心价值追求：2011年，学校构建了“筑梦、铸魂、立本、树人”办学思想体系为内核的卓越文化体系，确立了“建设让人民满意、让世人仰慕的优秀大学”作为崇高大学理想和核心价值追求。
                    </li>
                    <li>实施卓越教育：2011年3月31日，学校提出了“卓越教育、卓越人才、卓越人生”的卓越教育理念。
                    </li>
                    <li>实施“15551”人才工程：从2011年起，学校开始实施“15551”人才工程，学校人才队伍水平得到全面提升，推动了学校的内涵发展。
                    </li>
                    <li>实施国际化战略：在这一阶段，学校实施国际化战略，不断推进国际化进程，取得了一批重大成果。
                    </li>
                </ul>
                <h3>学科整体实力和水平得到显著提升</h3>
                <p>学校高举“双一流”建设旗帜，整体实力和水平得到显著提升。入选国家“一流学科”建设高校，材料科学与工程入选“双一流”重点建设高校，在第四轮学科评估中与清华、北航并列A+档。目前，我校有5位两院院士和3位发达国家院士。
                </p>
                <h3>提升社会服务与保障能力</h3>
                <p>学校社会服务与保障能力显著增强。在2017年武汉百万校友资智回汉活动中，我校以2607亿的签约额，名列单场第一，时任湖北省委副书记、武汉市委书记陈一新称赞武汉理工大学在活动中“举起了大旗、作出了示范、走在了前列”。
                </p>
                <h3>学校章程获教育部首批核准发布</h3>
                <p>2013年11月，《武汉理工大学章程》获得教育部核准发布，成为首批核准的6部高校章程之一。
                </p>
                <h3>科技创新能力全面提升</h3>
                <p>学校科技创新能力全面提升。在2014年，学校以第一完成单位获国家自然科学奖二等奖1项、国家技术发明奖二等奖2项，在全国高校排名中位列第六；
                </p>
                <h3>进入世界400强和亚洲100强大学排名</h3>
                <p>“十二五以来”，学校国际声誉显著提升。学校连续于2013、2014年两年进入英国《泰晤士高等教育》发布的世界大学400强排行榜；连续于2013、2014、2015年三年进入英国《泰晤士高等教育》发布的亚洲大学100强排行榜，分别位列第58名、第49名和第60名。“十三五”时期，学校于2018-2020年进入上海软科世界大学学术排名（ARWU）前350名。
                </p>
                <h2 id="3">三、学科建设</h2>
                <p>在学科建设方面，学校以“双一流”建设为旗帜，通过“双一流”引领项目、提升项目、培育项目，强化内涵建设，实现了学科建设的跨越式发展。
                </p>
                <ul>
                    <li>我校在全国率先启动“双一流”建设，部署了26个“双一流”建设项目。</li>
                    <li>重点学科建设成绩斐然，形成了学科结构合理、优势特色明显的重点学科体系。</li>
                    <li>在全国第四轮学科评估中，材料科学与工程学科进入A+档，并列全国第一；排名前10-20%的B+档学科增加到4个，排名前20-30%的B档学科由4个增加到6个。</li>
                    <li>学位授权点增长迅速，为学校建设特色鲜明的世界一流大学提供了重要保障。这是博士、硕士学位、专业学位授权点一览。</li>
                    <li>博士后流动站逐渐发展成为具有鲜明特色的人才培养高地。这是学校博士后流动站建设情况。值得一提的是，材料科学与工程博士后科研流动站在人力资源社会保障部、全国博士后管理委员会举行的2015年度博士后综合评估中获评“优秀”。
                    </li>
                </ul>
                <h2 id="4">四、科技创新</h2>
                <p>经过20年的建设发展，学校科技创新能力得到全面提升，科技创新成为学校核心竞争力提升的重要标志。
                </p>
                <ul>
                    <li>科技成果丰硕。</li>
                    2000年至2019年,学校共获得国家科技奖39项，这是获奖项目一览表；这20年间，学校还获得100项省部级一等奖。
                    <li>基地建设特色鲜明。</li>
                    学校建有4个国家级科研基地、36个省部级科研基地、3个省部级协同创新中心。
                </ul>
                <p>在服务国家重大工程和战略需要方面,学校科研团队为“C919飞机、港珠澳大桥、高铁工程提供关键新技术；在引领行业科技发展与技术进步方面，在深度融入湖北经济社会发展、技术成果服务应用湖北重大工程方面，武汉理工大学贡献巨大。我们可以自豪地说，在祖国的大地上，天上飞的、地上跑的、水里游的都有理工大的项目在应用，都闪烁着理工人的智慧之光。
                </p>
                <p>学校大力推动不同学科、不同学术思想、不同学派间的交流，学术交流活动丰富多彩。 学校大力实施国际化战略，国际科技合作的广度和深度显著提升，国际科技合作项目和成果突出、国际合作基地建设成效显著。
                </p>
                <p>学校的人文社科历经发展，目前已涵盖马克思主义理论、管理学、哲学、经济学、法学等15个学科，在创新管理、危机与应急管理等领域已形成特色与优势，部分学科和研究领域在湖北省处于领先地位，在全国具有一定声誉。
                </p>
                <p>学校以科研基地为依托、以学科带头人为核心、以重大项目为牵引，形成凝聚学术队伍的人才组织模式，一批优秀人才脱颖而出。初步形成了一批独具特色的高科技企业品牌。
                </p>
            </div>
            <form class="navbar-form navbar-right mb-5 d-flex flex-column">
                <a class="btn btn-outline-primary btn-lg mb-3" href="{%url 'article1'%}" style="border-radius: 2rem;
">上一篇：第一展区-发展历程</a>
                <a class="btn btn-outline-primary btn-lg mb-3" href="{%url 'article3'%}" style="border-radius: 2rem;
">下一篇：第三展区-师生成果</a>
            </form>

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset" style="padding: 0px;margin: 0;">
                <h4>前言</h4>
                <p>学校坚持以道德精神和学术创新引领大学教育和大学发展，厚德载物，博学笃行，引领大学止于至善之道；不断追求卓越，把学校建设和发展不断推向新的历史高度，朝着崇高的大学理想不懈奋斗，铸就学校的大学精神。
                </p>
            </div>
            <div class="sidebar-module">
                <h4>目录</h4>
                <ol class="list-unstyled">
                    <li><a href="#1">一、整合融合 快速发展</a></li>
                    <li><a href="#2">二、内涵提升 跨越发展</a></li>
                    <li><a href="#3">三、学科建设</a></li>
                    <li><a href="#4">四、科技创新</a></li>
                </ol>
            </div>

            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第一展区-发展历程</h3>
                        <p class="card-text mb-auto">
                            学校以建设全国第一流交通运输重点大学为奋斗目标，到2000年5月，发展成为以水运工程和航运技术为主要特色，水陆并举、河海兼顾...
                        </p>
                        <a href="{%url 'article1'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpslgx.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第二展区-建设成就</h3>
                        <p class="card-text mb-auto">
                            学校坚持以道德精神和学术创新引领大学教育和大学发展，厚德载物，博学笃行，引领大学止于至善之道；不断追求卓越，把学校建设和发展不断推向新的历史高度...
                        </p>
                        <a href="{%url 'article2'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpsw8I.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="sidebar-module" style="padding: 0px;
    margin: 0;">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-2">第三展区-师生成果</h3>
                        <p class="card-text mb-auto">
                            学校已形成以工学为主，理、工、经、管、艺术、文、法等多学科相互渗透、协调发展的学科专业体系...
                        </p>
                        <a href="{%url 'article3'%}" class="stretched-link">进入阅读</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://z3.ax1x.com/2021/04/27/gpsZbF.jpg" class="bd-placeholder-img card-img-top"
                            width="100%">
                    </div>
                </div>
            </div>
            <hr>

        </div>

    </div>

</div>

{%endblock%}

{%block custom_css%}

<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{%endblock%}
