{% extends 'base-admin.html' %}
{% load static %}

{%block content%}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center m-5">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">页面不见了...</p>
        <p class="text-gray-500 m-3">争渡，争渡，误入藕花深处</p>
        <a href="{%url 'home'%}">&larr; 回到首页</a>
    </div>

</div>
<!-- /.container-fluid -->

{%endblock%}


{%block sidebar%}
<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="/user/users">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>用户管理</span></a>
</li>
<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="/user/comments">
        <i class="fas fa-fw fa-table"></i>
        <span>留言管理</span></a>
</li>
<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="/admin">
        <i class="fas fa-fw fa-database"></i>
        <span>后台管理</span></a>
</li>
{%endblock%}
