{% extends 'base-admin.html' %}
{% load static %}

{%block content%}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">评论总览</h1> -->
    <!-- <p class="mb-4">该模块用来记录用户访问信息，如有疑问请访问 <a target="_blank" href="https://datatables.net">官方数据表文件</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">用户总览</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>用户序号</th>
                            <th>用户昵称</th>
                            <th>创建时间</th>
                            <th>上次登录</th>
                            <th>管理状态</th>
                            <th>是否删除</th>
                            <th>用户头像</th>
                            <th>所在学院</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for user in users%}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.date_joined}}</td>
                            <td>{{user.last_login}}</td>
                            <td>{{user.is_staff}}</td>
                            <td>{{user.is_active}}</td>
                            <td><img src="{{user.photo_url}}" class="bd-placeholder-img mr-2 rounded" width="32"
                                    height="32"></td>
                            <td>{{user.academy}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{%endblock%}

{%block sidebar%}
<!-- Nav Item - Charts -->
<li class="nav-item active">
    <a class="nav-link" href="/user/users">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>用户管理</span></a>
</li>
<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="/user/comments">
        <i class="fas fa-fw fa-table"></i>
        <span>评论管理</span></a>
</li>
<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="/admin">
        <i class="fas fa-fw fa-database"></i>
        <span>后台管理</span></a>
</li>
{%endblock%}
