<!doctype html>
<html lang="zh-CN">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'pic/相机.ico' %}">

    <title>在线校史馆</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/album/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    {%block custom_css%}
    {%endblock%}
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">
                            绵延120余载的办学历史，夯实了持续发展的强大基础；合并组建20年的办学成就，书写了跨越发展的辉煌篇章。校史馆从2000年5月27日起，以发展历程、建设成就、师生成果三个部分反映学校的发展历程，呈现20年的建设成就，展示理工人奋发向上的精神风貌。
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">地址：湖北省武汉市珞狮路122号</a></li>
                            <li><a href="#" class="text-light">邮编：430070</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>云党建平台</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <div class="nav bg-white shadow-sm">
        <div class="container">
            <nav class="nav nav-underline">
                {%if user.is_authenticated %}
                <a class="nav-link active" href="#">
                    <img src="{{user.photo_url}}" class="bd-placeholder-img mr-2 rounded align-self-center bg-white"
                        width="20" height="20">
                    欢迎，{{user.username}}！
                </a>
                <!-- <a class="nav-link" href="#" aria-disabled="true" data-toggle="modal"
                    data-target="#sing-out-identify">退出登录</a> -->
                <!-- <a class="nav-link" href="#">
                    未读通知
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>
                </a> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="guide" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        页面导航
                    </a>
                    <div class="dropdown-menu" aria-labelledby="guide">
                        <a class="dropdown-item" href="{%url 'home'%}">回到首页</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{%url 'BBS'%}">进入论坛</a>
                        <a class="dropdown-item" href="{%url 'HotBBS'%}">热门留言</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="AccountSetting" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        我的账户
                    </a>
                    <div class="dropdown-menu" aria-labelledby="AccountSetting">
                        <a class="dropdown-item" href="{%url 'user:MyComments'%}">我的留言</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{%url 'user:information'%}">修改资料</a>
                        <a class="dropdown-item" href="#" aria-disabled="true" data-toggle="modal"
                            data-target="#sing-out-identify">退出登录</a>
                    </div>
                </li>
                {%if user.is_staff %}
                <!-- <a class="nav-link" href="/user/users">用户管理</a>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ManageList" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        站点管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ManageList">
                        <a class="dropdown-item" href="/admin">后台管理</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{%url 'user:admin_users'%}">用户总览</a>
                        <a class="dropdown-item" href="{%url 'user:admin_comments'%}">留言总览</a>
                    </div>
                </li>
                {% endif %}
                {% else %}
                <a class="nav-link active" href="#">欢迎，访客！</a>
                <a class="nav-link" href="{%url 'home'%}">回到首页</a>
                <a class="nav-link" href="/user/login">登录</a>
                <a class="nav-link" href="/user/register">注册</a>
                {% endif %}
            </nav>
        </div>
    </div>

    <div class="modal fade" id="sing-out-identify" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><b>要登出吗？</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a id="cancel" href="{%url 'user:logout'%}" class=" btn btn-danger" role="button">确认登出</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">放弃登出</button>
                </div>
            </div>
        </div>
    </div>

    {%block content%}
    <!-- 此处插入网页内容 -->
    {%endblock%}

    <footer class="text-muted text-center">
        <div class="container">
            <p class="float-right">
                <a href="#">回到顶部</a>
            </p>
            <em>凤凰鸣矣，于彼高岗；梧桐生矣，于彼朝阳。追求卓越，其道大昌；修史建馆，永志勿忘。</em>
            <p>地址：湖北省武汉市珞狮路122号</p>
            <p>邮编：430070</p>
        </div>
    </footer>

    <!-- Bootstrap core JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script>
        window.jQuery || document.write(
            '<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.2/jquery.slim.min.js"><\/script>')

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    {%block custom_js%}
    {%endblock%}

</body>

</html>
