{% extends 'base-front.html' %}
{% load static %}

{%block content%}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 bg-white rounded shadow-sm">
        <img class="mr-3" src="https://img.imgdb.cn/item/6086d115d1a9ae528fb01908.jpg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-black lh-100">校史馆讨论组</h6>
            <small>实施卓越教育、培养卓越人才、创造卓越人生</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">最近更新</h6>
        {% for time in by_time %}
        {%if time.is_delete is False %}
        <div class="media text-muted pt-3">
            {%if time.user_id is None%}
            <img src="https://img.imgdb.cn/item/6092c5fdd1a9ae528ff71dd9.png" class="bd-placeholder-img mr-2 rounded"
                width="48" height="48">
            {%else%}
            <img src="{{time.user_photo_url}}" class="bd-placeholder-img mr-2 rounded" width="48" height="48">
            {% endif %}
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    {%if time.user_id is None%}
                    <strong class="d-block text-gray-dark h4">已注销</strong>
                    {%else%}
                    <strong class="d-block text-gray-dark h4">{{time.user_name}}</strong>
                    {% endif %}
                    <form method="POST" id="like-{{forloop.counter}}" name="like-{{forloop.counter}}"
                        action="{% url 'user:like_comment'%}">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{time.comment_id}}">
                        <div class="btn-group-vertical">
                            <button class="btn btn-outline-success btn-sm" type="submit">点赞</button>
                            <button class="btn btn-outline-dark btn-sm" type="submit"
                                disabled>点赞量：{{time.comment_hot_rate}}</button>
                            <!-- <button class="btn btn-outline-dark btn-sm" type="submit"
                                disabled>id：{{time.comment_id}}</button> -->
                            <button class="btn btn-outline-dark btn-sm" type="submit"
                                disabled>{{time.create_time}}</button>
                        </div>
                    </form>
                </div>
                <span class="d-block w-75">{{time.comment_content|safe}}</span>
            </div>
        </div>
        {%endif%}
        {%endfor%}

        <!-- <div class="media text-muted pt-3">

            <img src="https://pic2.zhimg.com/v2-7ff800975ab9cac63295b786668d467a_xl.jpg"
                class="bd-placeholder-img mr-2 rounded" width="32" height="32">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">匿名</strong>
                文化是旅游的灵魂，红色革命历史为中华民族精神宝库增添了重要的一笔。专家指出，发展红色旅游，关键是要深入挖掘红色精神财富，思考如何将革命历史、革命传统和革命精神在旅游中传递给广大人民群众，从而更好地传承革命文化。
            </p>
        </div> -->
        <!-- <div class="media text-muted pt-3">
            <img src="https://pic4.zhimg.com/50/v2-0ea3bc072607967e475fff312f8a859e_xs.jpg?source=54b3c3a5"
                class="bd-placeholder-img mr-2 rounded" width="32" height="32">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">来生要做一棵树</strong>
                作为一种以爱国主义与革命传统教育为宗旨的旅游产品，红色旅游应该围绕红色主题，营造氛围、深化体验、寓教于游，切不可随意让‘产业化’‘市场化’削弱了文化主题和公益性质，使其背离了开展红色旅游的‘初心’。
            </p>
        </div>
        <div class="media text-muted pt-3">
            <img src="https://pic1.zhimg.com/100/v2-a2dba10266bae3f316145d3d4730cde2_r.jpeg?source=1940ef5c"
                class="bd-placeholder-img mr-2 rounded" width="32" height="32">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">大学生一枚</strong>
                将三维重建、VR、AR等现代科技融入红色故事的讲解中，能让游客身临其境地体会到革命先烈的艰难困苦与英勇无畏，让红色历史成为‘可以穿越的历史’与‘可以透视的故事’。
            </p>
        </div> -->
        <small class="d-block text-right mt-3">
            <a href="#">所有记录</a>
        </small>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">热门评论</h6>
        {% for hot in by_hot %}
        {%if hot.is_delete is False %}
        <div class="media text-muted pt-3">

            {%if hot.user_id is None%}
            <img src="https://img.imgdb.cn/item/6092c5fdd1a9ae528ff71dd9.png" class="bd-placeholder-img mr-2 rounded"
                width="48" height="48">
            {%else%}
            <img src="{{hot.user_photo_url}}" class="bd-placeholder-img mr-2 rounded" width="48" height="48">
            {% endif %}

            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    {%if hot.user_id is None%}
                    <strong class="text-gray-dark h4">已注销</strong>
                    {%else%}
                    <strong class="text-gray-dark h4">{{hot.user_name}}</strong>
                    {% endif %}
                    <form method="POST" id="like-{{forloop.counter}}" name="like-{{forloop.counter}}"
                        action="{% url 'user:like_comment'%}">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{hot.comment_id}}">
                        <div class="btn-group-vertical">
                            <button class="btn btn-outline-success btn-sm" type="submit">点赞</button>
                            <button class="btn btn-outline-dark btn-sm" type="submit"
                                disabled>点赞量：{{hot.comment_hot_rate}}</button>
                            <!-- <button class="btn btn-outline-dark btn-sm" type="submit"
                                disabled>id：{{hot.comment_id}}</button> -->
                            <button class="btn btn-outline-dark btn-sm" type="submit"
                                disabled>{{hot.create_time}}</button>
                        </div>
                    </form>
                </div>
                <span class="d-block w-75">{{hot.comment_content|safe}}</span>
            </div>
        </div>
        {%endif%}
        {%endfor%}
        <!-- <div class="media text-muted pt-3">
            <img src="https://pic2.zhimg.com/100/v2-ed0623cfa55c92c33e212c846f07d4e8_r.jpeg?source=1940ef5c"
                class="bd-placeholder-img mr-2 rounded" width="32" height="32">

            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">不墨迹</strong>
                    <a href="#">+关注</a>
                </div>
                <span class="d-block w-75">红色旅游可以和自然景观、历史景观和人文景观紧密结合在一起，兼顾政治性和市场性，避免庸俗化。</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <img src="https://pic1.zhimg.com/100/v2-34a2daeef9a46b9895a4f71cc814a610_r.jpeg?source=1940ef5c"
                class="bd-placeholder-img mr-2 rounded" width="32" height="32">

            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">理想主义接班人</strong>
                    <a href="#">+关注</a>
                </div>
                <span
                    class="d-block w-75">红色旅游已成为我国整个旅游业的重要方面，要力戒红色旅游中的低俗、庸俗、恶俗现象，寓教于游，让游客通过参加红色旅游真正感受革命历史文化，领略革命历史精神，接受革命传统教育。</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <img src="https://pic1.zhimg.com/50/v2-2d001c7363041bc8d3e5e0a2d0d1b98b_xs.jpg?source=54b3c3a5"
                class="bd-placeholder-img mr-2 rounded" width="32" height="32">

            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Tango</strong>
                    <a href="#">+关注</a>
                </div>
                <span class="d-block w-75">对我们共产党人来说，中国革命历史是最好的营养剂。多重温这些伟大历史，心中就会增加很多正能量。</span>
            </div>
        </div> -->
        <small class="d-block text-right mt-3">
            <a href="#">热门评论</a>
        </small>
    </div>
    <form method="POST" action="{% url 'user:make_comment'%}">
        {% csrf_token %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-3">添加评论</h6>
            <input type="hidden" name="user_name" value="{{user.username}}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <textarea id="comment" name="comment_content"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg btn-block mb-3">提交</button>
        </div>
    </form>
</main>
{%endblock%}



<form class="form-inline my-2 my-lg-0" method="POST" action="">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="SearchInput" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

{%block custom_css%}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

</style>
<link href="{% static 'css/BBS.css' %}" rel="stylesheet">
{%endblock%}


{%block custom_js%}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        language: "zh_CN",
        plugins: "advlist,autolink,lists,link,image,charmap,print,preview,anchor,visualblocks,code,fullscreen,insertdatetime,media,table,paste,bbcode,help,wordcount,toc,link,autosave",
    })

</script>
<link href="{% static 'js/BBS.js' %}" rel="stylesheet">
{%endblock%}
