{% extends 'base-front.html' %}
{% load static %}

{%block content%}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 bg-white rounded shadow-sm">
        <img class="mr-3" src="https://img.imgdb.cn/item/6086d115d1a9ae528fb01908.jpg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-black lh-100">校史馆讨论组</h6>
            <small>实施卓越教育、培养卓越人才、创造卓越人生</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-bottom border-gray pb-2 mb-0">热门留言</h3>
        {% for hot in by_hot %}
        {%if hot.is_delete is False %}
        <div class="media text-muted border-bottom border-gray py-3 d-flex align-items-center">
            {%if hot.user_id is None%}
            <img src="https://img.imgdb.cn/item/6092c5fdd1a9ae528ff71dd9.png"
                class="bd-placeholder-img ml-3 mr-4 my-3 rounded d-flex align-self-start" width="48" height="48">
            {%else%}
            <img src="{{hot.user_photo_url}}" class="bd-placeholder-img ml-3 mr-4 my-3 rounded d-flex align-self-start"
                width="48" height="48">
            {% endif %}
            <div class="media-body pb-3 mb-0 small lh-125">
                <div class="d-flex justify-content-between align-items-center w-100">
                    {%if hot.user_id is None%}
                    <strong class="d-block text-gray-dark h4">已注销</strong>
                    {%else%}
                    <strong class="d-block text-gray-dark h4">{{hot.user_name}}</strong>
                    {% endif %}
                </div>
                <small class="text-muted">{{hot.create_time}}</small>
                <span class="d-block mt-2" style="font-size: 130%;">{{hot.comment_content|safe}}</span>
            </div>
            <form method="POST" id="like-{{forloop.counter}}" name="like-{{forloop.counter}}"
                action="{% url 'user:like_comment'%}">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{hot.comment_id}}">
                <input type="hidden" name="root_url_type" value="hot">
                <button class="btn btn-outline-success btn-sm mx-4" type="submit">
                    <i class="fa fa-thumbs-up fa-1x text-gray-500"></i>
                    {{hot.comment_hot_rate}}点赞
                </button>
            </form>
        </div>
        {%endif%}
        {%endfor%}
        <!-- <small class="d-block text-right mt-3">
            <a href="#">所有记录</a>
        </small> -->
    </div>


    <!-- <form method="POST" action="{% url 'user:make_comment'%}">
        {% csrf_token %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h3 class="border-bottom border-gray pb-2 mb-3">添加留言</h3>
            <input type="hidden" name="user_name" value="{{user.username}}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <textarea id="comment" name="comment_content"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg btn-block mb-3">提交</button>
        </div>
    </form> 
    -->

</main>
{%endblock%}



<form class="form-inline my-2 my-lg-0" method="POST" action="">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="SearchInput" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

{%block custom_css%}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

</style>
<link href="{% static 'css/BBS.css' %}" rel="stylesheet">
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
{%endblock%}


{%block custom_js%}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        language: "zh_CN",
        plugins: "advlist,autolink,lists,link,image,charmap,print,preview,anchor,visualblocks,code,fullscreen,insertdatetime,media,table,paste,bbcode,help,wordcount,toc,link,autosave",
    })

</script>
<link href="{% static 'js/BBS.js' %}" rel="stylesheet">
{%endblock%}
