{% extends 'base-front.html' %}
{% load static %}

{%block content%}
<main role="main" class="container">
    <div class="col-md-12 mt-4 mb-5">
        {%if flag == "False"%}
        <div class="col-xl-15 col-lg-15 mb-3">
            <div class="card border-left-danger shadow h-50 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h3 font-weight-bold text-danger text-uppercase mb-1">
                                修改失败</div>
                            {%if message%}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{message}}</div>
                            {%endif%}
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-exclamation-triangle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%elif flag == "True"%}
        <div class="col-xl-15 col-lg-15 mb-3">
            <div class="card border-left-success shadow h-50 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h3 font-weight-bold text-success text-uppercase mb-1">
                                {{message}}</div>
                            {%if message2%}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{message2}}</div>
                            {%endif%}
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-lightbulb fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}

        <h4 class="mb-3">个人信息</h4>
        <hr>
        <form class="needs-validation" novalidate action="/user/information/" method="POST" name="ModInfo">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name">用户名</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="最大长度为150个字符，只可以包含字母、数字或@.+-_" required value="{{user.username}}">
                    <div class="invalid-feedback" style="width: 100%;">
                        请输入合法的用户名
                    </div>
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="name">学号</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="StudentID" name="StudentID"
                        placeholder="请输入学号" required value="{{user.StudentID}}">
                    <div class="invalid-feedback" style="width: 100%;">
                        请输入合法的学号
                    </div>
                </div>
            </div> -->
            <div class="mb-3">
                <label for="photo_url">用户头像<span class="text-muted">(图片链接-可选)</span></label>
                <div class="input-group">
                    <input type="url" class="form-control" id="photo_url" name="photo_url"
                        placeholder="必须是链接，且最长不超过150个字符" value="{{user.photo_url}}">
                    <div class="input-group-append">
                        <a href="#" data-toggle="modal" class="btn btn-outline-secondary" type="button"
                            id="button-addon2" data-target="#preview" onclick="modify()">预览</a>
                    </div>
                </div>
                <div class="invalid-feedback">
                    请输入合法的url
                </div>
            </div>
            <div class="mb-3">
                <label for="email">电子邮件<span class="text-muted">(可选)</span></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="必须是邮箱地址，且最长不超过150个字符"
                    value="{{user.email}}">
                <div class="invalid-feedback">
                    请输入合法的Email地址
                </div>
            </div>
            <div class="mb-3">
                <label for="academy">所在学院</label>
                <select class="custom-select" id="academy" name="academy" required>
                    {% if user.academy == "未选择" %}
                    <option selected disabled value="">请选择学院</option>
                    {%else%}
                    <option selected value="{{user.academy}}">{{user.academy}}</option>
                    {% endif %}
                    <option value="计算机学院">计算机学院</option>
                    <option value="材料学院">材料学院</option>
                    <option value="材料示范学院">材料示范学院</option>
                    <option value="交通学院">交通学院</option>
                    <option value="汽车学院">汽车学院</option>
                    <option value="机电学院">机电学院</option>
                    <option value="能动学院">能动学院</option>
                    <option value="土建学院">土建学院</option>
                    <option value="资环学院">资环学院</option>
                    <option value="信息学院">信息学院</option>
                    <option value="自动化学院">自动化学院</option>
                    <option value="航运学院">航运学院</option>
                    <option value="物流学院">物流学院</option>
                    <option value="理学院">理学院</option>
                    <option value="化生学院">化生学院</option>
                    <option value="管理学院">管理学院</option>
                    <option value="经济学院">经济学院</option>
                    <option value="艺设学院">艺设学院</option>
                    <option value="外语学院">外语学院</option>
                    <option value="马克思主义学院">马克思主义学院</option>
                    <option value="法学社会学院">法学社会学院</option>
                    <option value="安全应急学院">安全应急学院</option>
                    <option value="国教学院">国教学院</option>
                    <option value="创业学院">创业学院</option>
                    <option value="媒体理工">媒体理工</option>
                    <option value="体育部">体育部</option>
                    <option value="继续教育学院">继续教育学院</option>
                    <option value="其他">其他</option>
                </select>
                <div class="invalid-feedback">
                    请选择学院
                </div>
            </div>

            <div class="mb-3">
                <p>
                    <a class="btn btn-block btn-outline-danger" data-toggle="collapse" href="#collapseExample"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        修改密码(可选)
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <label for="name">旧密码</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="password_old" name="password_old"
                                placeholder="请输入旧密码">
                            <div class="invalid-feedback" style="width: 100%;">
                                请输入合法的密码
                            </div>
                        </div>
                        <label for="name">新密码</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="password_new" name="password_new"
                                placeholder="请输入新密码">
                            <div class="invalid-feedback" style="width: 100%;">
                                请输入合法的密码
                            </div>
                        </div>
                        <label for="name">验证密码</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="password_verify" name="password_verify"
                                placeholder="请再次输入">
                            <div class="invalid-feedback" style="width: 100%;">
                                请输入合法的密码
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <button id="submit" class="btn btn-primary btn-lg btn-block" type="submit">提交修改</button>
        </form>
    </div>
</main>


<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">头像预览</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="ImgPreview" src="{{user.user_photo_url}}" class="bd-placeholder-img card-img-top"
                    width="100%" height="auto">
            </div>
        </div>
    </div>
</div>


{%endblock%}

{%block custom_css%}

<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

</style>
{%endblock%}

{%block custom_js%}
<script src="{% static 'js/form-validation.js' %}"></script>

<script type="text/javascript">
    function modify() {
        var a = ModInfo.photo_url.value; //使用id来获取input输入框的值
        document.getElementById("ImgPreview").src= a;
    };
</script>

{%endblock%}
