{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>在线校史馆</title>
    <!-- Custom fonts for this template -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        {%if message%}
        <div class="col-xl-15 col-lg-15 mt-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h3 font-weight-bold text-danger text-uppercase mb-1">
                                注册失败</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{message}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-exclamation-triangle fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">创建您的账户</h1>
                            </div>
                            <form class="user" role="form" action="/user/register/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="name" name="name"
                                        placeholder="用户名">
                                    <!-- <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                    </div> -->
                                </div>
                                <!-- <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                </div> -->
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password"
                                        name="password"
                                        placeholder="密码">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="Password-r"
                                        placeholder="重输密码">
                                </div>
                                <button id="submit" type="submit" class="btn btn-primary btn-user btn-block">
                                    注册账户
                                </button>
                            </form>
                            <hr>
                            <!-- <div class="text-center">
                                <a class="small" href="forgot-password.html">忘记密码？</a>
                            </div> -->
                            <div class="text-center">
                                <a class="small" href="login.html">已经拥有账户？重新登录！</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
