<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/blog.css')}}" rel="stylesheet">
</head>

<body>



    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">校史馆-武汉汽车工业大学展区-详情</h1>
            <p class="lead blog-description">凤凰鸣矣，于彼高岗；梧桐生矣，于彼朝阳。追求卓越，其道大昌；修史建馆，永志勿忘。</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">

                    <h1 class="blog-post-title">厚德博学-追求卓越</h1>
                    <p class="blog-post-meta">April 1, 2021 </p>

                    <em>绵延120余载的办学历史，夯实了武汉理工大学持续发展的强大基础；合并组建20年的办学成就，书写了武汉理工大学跨越发展的辉煌篇章。校史馆从2000年5月27日起，至2019年12月31日止。以历程篇、成就篇、人物篇三个部分反映学校的发展历程，呈现20年的建设成就，展示理工大人奋发向上的精神风貌。
                    </em>
                    <hr>
                    <h2>发展历程</h2>
                    <ol>
                        <li>1958年武汉工学院成立</li>
                        <li>1971年改为湖北农业机械学院</li>
                        <li>1979年恢复武汉工学院</li>
                        <li>1995年升为武汉汽车工业大学</li>
                    </ol>
                    <h2 id="1">发展历程一 武工初创 应运而生（1958—1966）</h2>
                    <p>1958年，为了适应国家工农业生产发展的需要和满足武汉地方工业建设对人才的迫切需求，中共武汉市委创办了武汉工学院。</p>
                    <p>1961年，湖北化工学院、武汉工学院和湖北工学院（本科部分）三校合并，办学规模扩大。</p>
                    <p>1963年，面临调整的武汉工学院由第八机械工业部接管，学校由为武汉市地方服务转向为全国农业机械化服务，为发展农机工业培养人才。</p>
                    <p>1958年10月27日，武汉工学院举行成立大会暨开学典礼。学校校址设在武昌马房山，当时这里还是荒凉之地。办学伊始，学校师生白手起家，艰苦创业。学校第一批基础课、技术基础课、专业课教师17人。这17人作为学校最早的师资，为学校的教育教学作出了贡献，被载入校史。
                    </p>
                    <p>首任院长周焕章教授1958年周焕章教授由武汉市公共事业管理局局长调任武汉工学院院长，1961年在武汉受到毛泽东主席的亲切接见。作为学校首任院长、主要创始人，他订立了学校长远发展规划，经过艰苦努力，学校建设初具规模。他为学校的建立和发展作出了重要贡献。
                    </p>
                    <p>1961年三校合并，1963年武汉工学院无线电技术专业划归华中工学院。随着三校合并，办学规模的扩大，学校建设和各项活动生机勃勃，呈现欣欣向荣的局面。</p>

                    <p>1961年10月，武汉工学院文工团成立。学生文工团排练和演出音乐、舞蹈等文艺节目，举办各种形式的舞会和晚会，为全校师生员工度过经济困难时期奉献了宝贵的精神食粮。1965年排演大型音乐舞蹈史诗《东方红》。文工团的演出在学校及周边反响很大，成为一段难忘的历史记忆。
                    </p>

                    <h2 id="2">发展历程二 逆水行舟 曲折前进（1966—1977）</h2>
                    <p>从武汉工学院到湖北农业机械学院。这10年，学校与国家同呼吸共命运，走过了曲折的发展道路。</p>
                    <p>971年湖北省农业机械工业专科学校与武汉工学院合并成立湖北农业机械学院。</p>
                    <p>1966年5月，学生男篮获武汉市大专院校男子篮球联赛亚军。</p>
                    <p>1969年12月，工宣队率学校大多数职工和学生到宜昌窑湾劳动和学习。</p>
                    <p>1970年9月，学校恢复招生。</p>
                    <p>学校加强教职工队伍建设，通过接收部队转业军人以及留校和分配来的毕业生，还有从东北、北京等重点院校及科研单位调进一批骨干教师，提高了队伍素质，充实了教师队伍。</p>
                    <p>湖北农业机械学院的办学方向是为农业机械化服务，学校开展开门办学，面向工厂和农村开展科学研究，为工农业生产服务，取得了一系列重要成果。</p>
                    <p>学院校办工厂研制生产的水力测功机和“武工牌”汽车</p>
                    <p>1978年学校2项科研成果：湖北-12型机耕船、R-175型柴油机获全国科学大会奖，7项成果获湖北省科学大会奖。</p>
                    <h2 id="3">发展历程三 励精图治 再展宏图（1977—2000）</h2>
                    <h3>1.改革开放初期的的武汉工学院（1977—1983）</h3>
                    <p>1977年学校恢复招收四年制本科生。1979年学校划归农业机械部领导，恢复武汉工学院校名。1982年转为机械工业部领导。学校把工作重点转移到教学和科研上来，教学秩序逐步恢复，教学改革不断深入。
                    </p>
                    <p>党委书记鲍振世，抗日战争时期在河北担任县委城工部部长，被誉为冀中“李向阳”。 他是学校第一代建校创业领导人，为学校的创业和生存、建设和发展作出了重要贡献。</p>
                    <h3>2.快速发展的武汉工学院（1983—1995）</h3>
                    <p>1983年学校改为中国汽车工业公司领导，把武汉工学院建设成为汽车工业培养人才的重要基地成为学校的奋斗目标。</p>
                    <p>党委书记陈立国在担任党委书记期间，带领学校领导班子锐意改革，特别是把一批优秀骨干教师充实到学校教学、科研的领导岗位，开创了武汉工学院改革发展的新局面。</p>


                    <p>1983年院长黄文治71岁离休前夕，受命出任武汉工学院代院长。他筹建了学校摩擦磨损与润滑研究室，是我国摩擦学学科主要创始人。他提出的“外语、计算机两个不断线”和“把学校建设成应用型科技人才培养基地”的战略决策，促成了学校转向服务于我国汽车工业的战略目标，奠定了学校快速发展的基础。
                    </p>
                    <p>1988年11月武汉工学院董事会成立。董事会成员单位在学校建立汽车车型与结构陈列室，设立了“振兴汽车工业奖学金”等奖学奖教金，为培养更多的汽车工业优秀人才提供了有利的条件。</p>
                    <p>学校研究生教育迅速发展，从1979年的7名研究生发展到1987年在校硕士研究生193人，9个学科拥有硕士学位授予权。1990年机械学、1994年管理工程被批准为博士学位授权点。</p>
                    <p>1984年胡耀邦总书记在中南海参观我国第一辆试验性“太阳能车”。学校教师蒋冠珞（右一）为这台车的主要研制者之一</p>
                    <p>1984年贾云福参与的“曾侯乙编钟的研究与复制”获文化部科技成果一等奖</p>
                    <p>陈诚书教授创立了电液集成理论，并发明了“电液集成块”。该成果获全国发明协会第二届发明金牌奖，第37届布鲁塞尔尤里卡世界发明博览会金奖</p>
                    <p>赵师梅，1910年加入共进会，参加了辛亥革命武昌起义，是武昌义旗“铁血十八星旗”三位制作者之一。1958年从华中工学院教授调任武汉工学院教授，他主持创建了学校电机系和电机实验室，为学校的建立和发展作出了重要贡献。1984年赵师梅教授临终时，嘱咐将其多年积蓄的1万元人民币捐献给学校作为奖学金。这是赵师梅夫人殷学明为获奖者颁奖。
                    </p>

                    <h3>3.面向新世纪的武汉汽车工业大学（1995—2000）</h3>
                    <p>1995年3月经国家教委批准学校更名为武汉汽车工业大学，5月18日举行了揭牌庆典。这是我国第一个汽车工业大学。更名为武汉汽车工业大学，标志着学校办学水平上了一个新的层次。</p>
                    <p>1996年5月中国汽车工业总公司与武汉市人民政府共建武汉汽车工业大学</p>
                    <p>1997年5月学校“211工程”重点学科建设通过部门预审。确定了3个重点学科（机械学科、管理学科、汽车设计制造学科）和2个加强学科（材料加工及其自动化、控制理论与控制工程）协调发展的基本方向。
                    </p>
                    <p>1998年10月，学校举行四十周年校庆庆典。</p>
                    <p>1999年湖北省第一机械工业学校和湖北省能源经济学校整体并入武汉汽车工业大学。</p>
                </div>
                <nav>
                    <ul class="pager">
                        <li><a href="#">上一篇</a></li>
                        <li><a href="#">下一篇</a></li>
                    </ul>
                </nav>

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <!-- <div class="sticky-top"> -->
                <div class="sidebar-module sidebar-module-inset">
                    <h4>前言</h4>
                    <p>学校面向汽车工业培养各类高级人才，以汽车及轿车零部件研究为重点，形成了一批有特色的研究方向，取得了一批高水平的科技成果。到2000年5月，学校发展成为以工为主，工、经、管、文、理、法、教相结合，协调发展的多科性大学。
                    </p>
                </div>
                <div class="sidebar-module">
                    <h4>目录</h4>
                    <ol class="list-unstyled">
                        <li><a href="#1">发展历程一 武工初创 应运而生（1958—1966）</a></li>
                        <li><a href="#2">发展历程二 逆水行舟 曲折前进（1966—1977）</a></li>
                        <li><a href="#3">发展历程三 励精图治 再展宏图（1977—2000）</a></li>
                    </ol>
                </div>
                <!-- </div> -->
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
        <p>地址：湖北省武汉市珞狮路122号</p>
        <p>邮编：430070</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.2/jquery.slim.min.js"><\/script>')

    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV" crossorigin="anonymous">
    </script>

</body>

</html>
