{% extends 'base.html' %}
{% load static %}

{%block content%}

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">校史馆-武汉工业大学展区</h1>
            <p class="lead blog-description">凤凰鸣矣，于彼高岗；梧桐生矣，于彼朝阳。追求卓越，其道大昌；修史建馆，永志勿忘。</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">

                    <h1 class="blog-post-title">厚德博学-追求卓越</h1>
                    <p class="blog-post-meta">April 1, 2021 </p>

                    <em>绵延120余载的办学历史，夯实了武汉理工大学持续发展的强大基础；合并组建20年的办学成就，书写了武汉理工大学跨越发展的辉煌篇章。校史馆从2000年5月27日起，至2019年12月31日止。以历程篇、成就篇、人物篇三个部分反映学校的发展历程，呈现20年的建设成就，展示理工大人奋发向上的精神风貌。
                    </em>
                    <hr>
                    <h2>一、南北两支 岁月峥嵘</h2>
                    <h3 id="1">追根溯源-从湖北工艺学堂到中南建筑工程学校的组建</h3>
                    <p>武汉工业大学南方支脉的渊源最早可追溯到1898年湖北工艺学堂。1898年湖广总督张之洞创办了湖北工艺学堂，到1950年发展为湖北省武昌高级工业学校。湖南高级工业学校、湘乡高级工业职业学校、河南省郑州高级工业学校，同样历经了近半个世纪发展变迁。1952年，中南建筑工程学校在江西庐山合并组建，它汇聚了“四大高工”的土木科，整体接收了武汉土木工程学校、长沙市政建设工程学校。1953年，珠江水利学校土木科并入。
                    </p>
                    <p>湖北工艺学堂,由晚清时期的湖广总督张之洞于1898年亲手创办。1898年（光绪二十四年），湖广总督张之洞向朝廷上疏《设立农务工艺学堂暨劝工劝商工所折》。1898年开办的湖北工艺学堂发展到1935年更名为湖北省立汉阳高级工业学校，简称“汉阳高工”。1950年更名为湖北省武昌高级工业学校。这里存放着1951年武昌高级工业学校土木科女同学合影，中南建筑工程学校聂美珍毕业证书。聂美珍是武昌高级工业学校学生，1953年毕业于中南建筑工程学校。筹建校史馆之际，80多岁的老人为我们送来了她珍藏60多年的毕业证书，还有照片和校徽。这些史料，见证了中南建筑工程学校组建的渊源，以及与湖北工艺学堂一脉相承的关系。
                    </p>
                    <h3 id="2">奋发踔厉-中南建筑工程学校的发展</h3>
                    <p>1952年12月，中南建筑工程学校在庐山举行开学典礼。中南建筑工程学校，其校址选定在武昌马房山，当时马房山只有农田和荒山，校舍有待新建。由于国家急需培养建设人才，学校先借用江西庐山房舍开学上课，同时在武昌马房山建设新校舍。1953年5月学校开始分批搬迁。
                    </p>

                    <p>1954年，学校改为建筑工程部武昌建筑工程学校。1958年学校先后升格为武昌建筑工程专科学校，武汉建筑工业学院，跻身本科院校行列。
                    </p>
                    <h3 id="3">曲折前行-武汉城市建设学院的调整</h3>
                    <p>1960年学校更名为武汉城市建设学院，并被列为4所部属重点院校之一。1964年武汉城市建设学院送走最后一届本科毕业生，1965年1月正式启用武汉建筑工程学校校名，学校再次走上中等专业技术学校之路。1953年建成的中南建筑工程学校行政教学建筑群，2010年被列为武汉市第五批一级优秀历史建筑。
                    </p>
                    <h3 id="4">鸿篇新启-沈阳建筑材料工业学院的渊源和组建</h3>
                    <p>1948年，在解放战争的隆隆炮声中诞生了中国人民解放军东北军区军工部工业专门学校，这是我军历史上较早的军事工业高等学校。东北军区军工部工业专门学校是武汉工业大学北方支脉的源头。东北军区军工部部长何长工担任学校名誉校长。
                    </p>
                    <p>1950年10月，抗美援朝战争爆发，为培养大批兵工专门技术人才以适应国防建设的需要，1951年学校扩充为东北兵工专门学校，1956年发展为沈阳建筑机械学校。1958年，沈阳建筑机械学校与1951年建立的沈阳建筑材料工业学校和1955年建立的沈阳计划经济学校合并组成沈阳建筑材料工业学院。
                    </p>
                    <p>从军事工业专门学校到培养建筑技术人才的建材工业学院，伴随着新中国的建立和发展，武汉工业大学北支之一脉与共和国同步共进，走过了曲折而光辉的岁月。</p>
                    <h3 id="5">融聚京沈-北京建筑工业学院的组建和“京、沈一盘棋”调整</h3>
                    <p>新中国建立后，一大批军队干部转向经济建设。1955年建筑工程部华北干部学校、1956年建筑工程部高级干部学校应运而生，办学宗旨是为我国建筑建材行业培养管理干部。1958年合并组建为北京建筑工业学院。这是北支之另一脉。
                    </p>
                    <p>1959年，建筑工程部决定实施“京、沈两院一盘棋”，将沈阳建筑材料工业学院本科部分和北京建筑工业学院合并组成新的北京建筑工业学院。调整后的学校规划于北京东郊管庄建设以建筑材料工业为特色的万人规模大学，学校进入一个新的发展时期。
                    </p>
                    <p>院长张君
                        1958-1964年任北京建筑工业学院党委书记兼院长。作为北京建筑工业学院创始人，他构想了建设建筑工业大学的宏伟蓝图，促成了“京、沈两院一盘棋”的调整。他为调整后的北京建筑工业学院制订了万人规模大学的发展目标。他为学校的建设和发展作出了重大贡献。
                    </p>
                    <h2>二、京汉合一 继往开来</h2>
                    <h3 id="6">承前启后的湖北建筑工业学院</h3>

                    <p>1971年，北京建筑工业学院再度北移武昌马房山，与武汉建筑工程学校合并，改名为湖北建筑工业学院，至此京汉合一，南北两支牵手相聚，开始共同建设新的建筑工业大学的历程。1972年，湖北建筑工业学院开始招收3年制工农兵学员至1976年。1977年，国家恢复高考，湖北建筑工业学院首批招收4年制本科学生，开始迎接新的教育曙光。
                    </p>

                    <h3 id="7">朝气蓬勃的武汉建筑材料工业学院</h3>
                    <p>1978年，湖北建筑工业学院被列为全国重点大学，更名为武汉建筑材料工业学院，并改由国家建材部领导，学校发展历史掀开新的一页。</p>
                    <p>学校引进水泥化学与热工专家冯修吉、硅酸盐化学家吴中伟，带动了材料学科的发展，提高了学校办学水平和教育质量。</p>
                    <p>冯修吉教授，著名水泥化学和热工专家，教育家，我国水泥科技事业奠基人之一。1978年起任武汉建筑材料工业学院和武汉工业大学教授。他为武汉工业大学的学科建设、为我国建筑材料工业的科技进步和人才培养作出了不朽贡献。
                    </p>
                    <h2>三、登高望远 走向昌盛</h2>
                    <h3 id="8">快速发展的武汉工业大学</h3>
                    <p>1985年，学校更名为武汉工业大学，它标志着学校进入一个新的发展阶段，走上快速发展的轨道。</p>

                    <p>校长袁润章，著名材料科学家，教育家。1984年11月-1995年2月先后担任武汉建筑材料工业学院院长，武汉工业大学校长。他创办了材料复合新技术国家重点实验室，他为我国材料科学的发展和人才培养做出了卓越贡献。
                    </p>
                    <p>学校不断拓展中外合作办学，学校目前在全国重点大学从事中外合作办学方面居于规模较大、办学规范、培养质量高的领先位置。</p>
                    <p>
                        学校以创建有特色的第一流的工业大学为奋斗目标，不断开拓进取，抢抓机遇，特别是获得了世界银行贷款第二个大学发展项目，建设了材料研究与测试中心，获得了对学校建设和发展有深远影响的国家1亿元投资的二期扩建工程项目，建设了鉴湖新校区，建设了材料复合新技术国家重点实验室等科研基地。
                    </p>
                    <p>
                        1988年10月，学校举行庆祝三十周年（以1958年北京建筑工业学院成立为起点）系列活动，把武汉工业大学的改革和建设推向一个新阶段。国家主席李先念、副主席王震发来贺电
                    </p>
                    <p>
                        八十年代中后期，学校逐步完成了由单一工科学院向多科性工业大学转变，由教学中心向教学、科研两个中心转变，由封闭型办学向开放型办学转变的三大转变。
                    </p>
                    <h3 id="9">为新世纪奠基的武汉工业大学</h3>

                    <p>1996年武汉工业大学进入国家“211工程”建设行列。1998年7月，学校划转教育部，成为教育部直属的、国家“211工程”重点建设的全国重点大学。同年10月举行建设发展50周年庆典（以1948年东北军区军工部工业专门学校为源头）。学校的改革创新和发展成果，为新世纪的三校合并、武汉理工大学的跨越发展奠定了坚实的基础。
                    </p>
                </div>

                <nav>
                    <ul class="pager">
                        <li><a href="#">上一篇</a></li>
                        <li><a href="#">下一篇</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>前言</h4>
                    <p>武汉工业大学发展历程主要有：两支三脉。两支：南支北支；三脉：武汉、沈阳、北京。南支武汉一脉，其渊源最早可追溯到1898年湖北工艺学堂，到1950年发展为武昌高级工业学校。1952年武昌高级工业学校等中南“四大高工”的土木科及武汉土木工程学校、长沙市政建设工程学校，合并组建中南建筑工程学校，到1965年改为武汉建筑工程学校。北支沈阳一脉：1948年东北军区军工部工业专门学校诞生，到1958年合并组成沈阳建筑材料工业学院。北支北京一脉：1958年北京建筑工业学院合并组建。1959年北支二脉，北京建筑工业学院与沈阳建筑材料工业学院组成新的北京建筑工业学院。1971年，南支北支合并，北京建筑工业学院与武汉建筑工程学校合并为湖北建筑工业学院，1985年升为武汉工业大学。
                    </p>
                </div>
                <div class="sidebar-module">
                    <h4>目录</h4>
                    <ol class="list-unstyled">
                        <li><a href="#1">追根溯源-从湖北工艺学堂到中南建筑工程学校的组建</a></li>
                        <li><a href="#2">奋发踔厉-中南建筑工程学校的发展</a></li>
                        <li><a href="#3">曲折前行-武汉城市建设学院的调整</a></li>
                        <li><a href="#4">鸿篇新启-沈阳建筑材料工业学院的渊源和组建</a></li>
                        <li><a href="#5">融聚京沈-北京建筑工业学院的组建和“京、沈一盘棋”调整</a></li>
                        <li><a href="#6">承前启后的湖北建筑工业学院</a></li>
                        <li><a href="#7">朝气蓬勃的武汉建筑材料工业学院</a></li>
                        <li><a href="#8">快速发展的武汉工业大学</a></li>
                        <li><a href="#9">为新世纪奠基的武汉工业大学</a></li>
                    </ol>
                </div>
            </div>

        </div>

    </div>
    {%endblock%}




{%block custom_css%}
    <link href="{% static 'css/BBS.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{%endblock%}

